<div class="container">
      <div class="row">
  <br><br><br>
  <div class="col m12">
    <div *ngIf="collections.length > 0">
      <div class="collection" *ngFor="let collection of collections">
        <a  class="collection-item"><span class=" badge orange darken-4">{{collection.type}} </span>
        <a  class="btn-floating waves-effect waves-light orange darken-4" (click)="removeItem(item)"><i class="material-icons">remove</i></a>
        {{collection.description}}</a>
      </div>
    </div>
    <div class="card teal accent-4" *ngIf="collections.length < 1">
      <div class="card-content white-text">
        <h5 class="card-title">Select the "+" button on the market page to add to your list of collections.</h5>
        <p>No items has been added.</p>
      </div>
    </div>
    
  </div>
</div>
</div>
