 <div class="home" id="bkg">
   
    <div class="row center-align">
      <br><br><br>
        <div class=" col m6 offset-m3">
          <div class="card teal accent-4 hoverable">
            <div class="card-content white-text">
              <h3><span class="card-title">Angular 4 Collection Application</span></h3>
              <p class="">This is a very simple angular 4 app used to illustrate the components communication using services. I have also utlised a generic model to store the caste for all my data.
              The angular router module is also featured in this simple app to handle navigation between various components. I have also decided to include a CSS3 material design framework into the mix because I am very passionate about UI/UX as well.</p>
            </div>
            <div class="card-action">
              <a href="/market" class="btn waves-effect waves-light  red darken-4">Market</a>
              <a class="btn waves-effect waves-light deep-orange accent-2" href="/collection">Collection</a>
            </div>
          </div>
        </div>
      </div>
            
    <!-- <app-market></app-market>
    <app-collection></app-collection> -->
</div>